<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"></head>
<body>
	<nav th:replace="layouts :: nav"></nav>
	<div class="container">
		<h3>employees directory</h3>
		<hr>
		<a th:href="@{employees/new}" class="btn btn-primary btn-sm mb-3">
			new employee </a>
		<h3>employees</h3>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>first Name</th>
					<th>last Name</th>
					<th>email</th>
					<th>action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="employee: ${employees}">
					<td th:text="${employee.firstName}" />
					<td th:text="${employee.lastName}" />
					<td th:text="${employee.email}" />
					<td>
						<a th:href="@{/employees/update(id=${employee.employeeId})}"
						class="btn btn-info btn-sm">update</a>
						<a th:href="@{/employees/delete(id=${employee.employeeId})}"
						class="btn btn-danger btn-sm"
						onClick="if(!(confirm('are you sure you want to delete?'))) return false">delete</a>
					</td>
					
				</tr>
			</tbody>
		</table>

	</div>
</body>

</html>